/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: url(base.png) center no-repeat;
    height: 534px;
    width: 1122px;
}

.fight-stick .fstick {
    position: absolute;
    width: 221px;
    height: 221px;
    top: 199px;
    left: 192px;
    background: url(stick.png)
}

.fight-stick .fstick.up {
    background-position-x: -1762px;
}

.fight-stick .fstick.down {
    background-position-x: -882px;
}

.fight-stick .fstick.left {
    background-position-x: -1322px;
}

.fight-stick .fstick.right {
    background-position-x: -442px;
}

.fight-stick .fstick.up.right {
    background-position-x: -222px;
}

.fight-stick .fstick.up.left {
    background-position-x: -1542px;
}

.fight-stick .fstick.down.right {
    background-position-x: -662px;
}

.fight-stick .fstick.down.left {
    background-position-x: -1102px;
}

/*END Fight Stick Controller Styling*/